@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #3f2f26;
}

.background{
  background-image: url('./assets/img-mito-1.jpg');
  background-size: cover;
  position: relative;
  height: 100vh;
  border: 5px solid #3f2f26;
}

.title{
  font-family: 'Drangolord', sans-serif;
  font-size: xxx-large;
  color: white;
  margin-top: 80px;
}